.header1{

  background-color:#868686;

}


.bottom5px{
  border-bottom: 1mm solid black;
  vertical-align:top;
}


.bottom4px
{
  position: absolute; 

  right: 40px; 

  top: 100px; 

  width: 200px; 

  height: 200px; 
}

.top{

    height:1px;
    border-top:1px solid black;
}

.left{

    border-left:1px solid black;
}

.center{
  text-align:center !important;
}
.title8{
  height:18px;
  background-color:#000000;
  border:2px solid #000000;
  color:#ffffff;
  position:relative;
  top:-10px;
}
.title2{
  height:1px;
  background-color:#000000;
  border:2px solid #000000;
  color:#ffffff;
  position:relative;
  top:-10px;
}
.header, .body{
  border:2px solid #000000;
}

.borr{
border-left:1px solid black;
border-right:1px solid black;


}

.bor{
  
  border-left:1px solid black;
  border-right:1px solid black;
  border-bottom:1px solid black;
}

.bo{
 border-left:1px solid black;
 border-right:1px solid black;
 border-top:1px solid black;


}

.list{
  width:300px;
  height:1px;
}
.table1{
  position:relative;
  top:-20px;
  margin-bottom:-20px;
}
table1,th,td1
{
  border:1px solid #000000;
  font-size:12px;
}
.continue{
  background-color:#e0e0e0;
}
.question{
  background-color:#e0e0e0;
  width:500px;
}
.answer{
  width:100px;
}
.passportPic{
  height:180px;
}
.auth{
  background-color:#e0e0e0;
}




  .center{
  text-align:center !important;
}
.title5{
  height:18px;
  background-color:#868686;
  font: italic bold 15px Georgia, serif;
  
  border:2px solid #000000;
  color:#ffffff;
  position:relative;
  top:-10px;
}
.title2{
  height:1px;
  background-color:#000000;
  border:2px solid #000000;
  color:#ffffff;
  position:relative;
  top:-10px;
}
.header, .body{
  border:2px solid #000000;
}
.tbl{
  height:1px;
  background-color:#a6a6a6;
}
.list{
  height:1px;
  width:300px;
}

.surname{
  border-left: 0.1mm solid black; 
  border-bottom: 0.1mm solid black;
}

.bottom{
  height:1px;
  border-bottom: 0.1mm solid black;
}


.backgroundleft{
    border-left: 0.1mm solid black;
    background-color:#a6a6a6;
}

.bottom5pxright5px{
height:1px;
border-bottom: 1mm solid black;
border-right: 1mm solid black;
}

.bottom5px{

  border-bottom: 1mm solid black;
}

.backgroundbottom5pxright5px{
  height:1px;
  border-bottom: 1mm solid black;
  background-color:#a6a6a6;
  border-right: 0.1mm solid black;
}

.tit{
height: 4px;
margin-top: -8px;
font: italic bold 15px, georgia, serif;
color:#ffffff;

}

.tit1{
  height: 4px;
  margin-top: -20px;
  font: italic bold 10px, georgia, serif;
  background-color:#a6a6a6;
  
  }

.backgroundbottom5pxright{
height: 1px;
border-bottom: 1mm solid black;
background-color:#a6a6a6;
border-right: 0.1mm solid black;
}


.bottom5pxright{

  border-bottom: 1mm solid black;
  border-right: 0.1mm solid black;
}

.bottom{
border-bottom: 0.1mm solid black;

}

.backgroundright{
  height:1px;
  border-bottom: 0.1mm solid #a6a6a6;
  border-right: 0.1mm solid black;
   background-color:#a6a6a6;
}

.backgroundright2px{
  border-bottom: 1mm solid black;
  border-right: 0.1mm solid black;
   background-color:#a6a6a6;
}

.bottom2px{
  border-bottom: 1mm solid black;
}

.backgroundbottomright2px{
border-bottom: 0.1mm solid black;
border-right: 1mm solid black;
background-color:#a6a6a6;
}

.backgroundleft2pxright{
border-right: 0.1mm solid black;
border-left: 1mm solid black;
background-color:#a6a6a6;
border-bottom: 0.1mm solid #a6a6a6;
}

.backgroundbottomright{
border-bottom: 0.1mm solid black;
border-right: 0.1mm solid black;
background-color:#a6a6a6;
}

.backgroundbottom{

  border-bottom: 0.1mm solid black;
  background-color:#a6a6a6;
}

.backgroundtopbottom{
border-top: 0.1mm solid black;
border-bottom:0.1mm solid black;
}

.bottomright{
border-bottom: 0.1mm solid black;
border-right: 0.1mm solid black;
}


.bottomright2px{
border-bottom: 0.1mm solid black;
border-right: 1mm solid black;
}

.backgroundleftrightbottom{
border-left: 0.1mm solid black;
border-bottom: 0.1mm solid black;
border-right: 0.1mm solid black;
background-color:#a6a6a6;
}

.residentialaddress{
  vertical-align:bottom
}

.background{
  background-color:#a6a6a6;
}
.right{

    border-right: 0.1mm solid black;
}
.top{

  border-top: 0.1mm solid black;
}


.right2x{
  border-right: 1mm solid black; 
}

.backgroundholder{
border-bottom:0.1mm solid #a6a6a6;
border-right:0.1mm solid black;
background-color:#a6a6a6;
}

.table{
  position:relative;
  top:-20px;
  margin-bottom:-20px;
}
table1,th,td1
{
  border:1px solid #000000;
  font-size:12px;
}
.continue{
  background-color:#e0e0e0;
}
.question{
  background-color:#e0e0e0;
  width:500px;
}
.answer{
  width:100px;
}
.passportPic{
  height:180px;
}
.auth{
  background-color:#e0e0e0;
}
p.ex1 {
  height:1px;
  padding-left: 7%;
  background-color:#a6a6a6;
}
p.ex2 {
  height:14px;
  background-color:#a6a6a6;
}


